.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header {
  text-align: center;
}

header a {
  padding: 10px;
}

form {
  width: 396px;
  margin: auto;
  font-size: 14px;
}

.form-group .control-label, .form-group .form-control, .new-address__header, .form-group, .new-address, .form-group .save-options{
  width: 200px;
  float: left;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
